<?xml version="1.0"?>
<robot name="tesollo_right_wrapper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Wrapper macro around Tesollo 5-DoF right hand.
       - Includes upstream dg5f_right.xacro (path configurable)
       - Adds a stable palm alias frame and a palm COM helper frame
       - Exposes stable link names:
           root/mount link:  right_base_link (child side of mount)
           palm link:        palm_link
           palm EE frame:    palm_ee (fixed to palm_link)
  -->

  <xacro:macro name="tesollo_right_with_frames" params="prefix:='' tesollo_xacro:='$(find dg_description)/urdf/dg5f_right.xacro' upstream_palm_link:='rl_dg_palm' palm_com_xyz:='0 0 0' palm_com_rpy:='0 0 0'">
    <!-- Bring in Tesollo hand definition -->
    <xacro:include filename="${tesollo_xacro}"/>

    <!-- Alias the upstream palm to a stable name for downstream tooling. -->
    <link name="${prefix}palm_link"/>
    <joint name="${prefix}upstream_palm_to_palm_link" type="fixed">
      <parent link="${upstream_palm_link}"/>
      <child  link="${prefix}palm_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Add palm COM helper frame -->
    <link name="${prefix}palm_ee"/>
    <joint name="${prefix}palm_link_to_ee" type="fixed">
      <parent link="${prefix}palm_link"/>
      <child  link="${prefix}palm_ee"/>
      <origin xyz="${palm_com_xyz}" rpy="${palm_com_rpy}"/>
    </joint>
  </xacro:macro>

</robot>
