<?xml version="1.0"?>
<robot name="openarm_dual_tesollo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--
    Modular dual configuration:
      - Left: OpenArm with Tesollo 5-DoF left hand
      - Right: OpenArm with Tesollo 5-DoF right hand

    Notes
      - Uses the stock OpenArm dual-arm body with built-in end-effectors disabled
      - Adds stable palm alias frames and palm EE frames for both hands
      - Mount transforms are exposed for quick tuning in Isaac Sim / training assets
  -->

  <!-- External dependencies -->
  <xacro:include filename="$(find openarm_description)/urdf/robot/openarm_robot.xacro"/>

  <!-- Tesollo wrappers -->
  <xacro:include filename="../eef/tesollo_left_wrapper.xacro"/>
  <xacro:include filename="../eef/tesollo_right_wrapper.xacro"/>

  <!-- Compatibility args for upstream xacro that incorrectly uses $(eval hand/ee_type). -->
  <xacro:arg name="hand" default="false"/>
  <xacro:arg name="ee_type" default="none"/>

  <!-- Mount transforms -->
  <xacro:arg name="left_mount_xyz" default="0 0 0.0495"/>
  <xacro:arg name="left_mount_rpy" default="0 0 1.5707964"/>
  <xacro:arg name="right_mount_xyz" default="0 0.0000003 0.0495"/>
  <xacro:arg name="right_mount_rpy" default="0 0 -1.5707964"/>

  <!-- Optional: upstream Tesollo xacro paths -->
  <xacro:arg name="left_tesollo_xacro" default="$(find dg_description)/urdf/dg5f_left.xacro"/>
  <xacro:arg name="right_tesollo_xacro" default="$(find dg_description)/urdf/dg5f_right.xacro"/>

  <!-- Optional: training palm-center frames -->
  <xacro:arg name="left_palm_ee_xyz" default="0.028 0 0.04"/>
  <xacro:arg name="right_palm_ee_xyz" default="0.028 0 0.04"/>

  <!-- Instantiate the stock OpenArm dual-arm body, but omit built-in hands. -->
  <xacro:openarm_robot
    arm_type="v10"
    body_type="v10"
    joint_limits="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/joint_limits.yaml')}"
    control_gains="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/control_gains.yaml')}"
    inertials="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/inertials.yaml')}"
    kinematics="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/kinematics.yaml')}"
    kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/kinematics_link.yaml')}"
    kinematics_offset="${xacro.load_yaml('$(find openarm_description)/config/arm/v10/kinematics_offset.yaml')}"
    body_inertials="${xacro.load_yaml('$(find openarm_description)/config/body/v10/inertials.yaml')}"
    body_kinematics="${xacro.load_yaml('$(find openarm_description)/config/body/v10/kinematics.yaml')}"
    body_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/body/v10/kinematics.yaml')}"
    ee_kinematics_link="${xacro.load_yaml('$(find openarm_description)/config/hand/openarm_hand/kinematics_link.yaml')}"
    hand="false"
    ee_type="none"
    ros2_control="false"
    can_interface="can0"
    left_can_interface="can1"
    right_can_interface="can0"
    left_arm_prefix="left_"
    right_arm_prefix="right_"
    use_fake_hardware="false"
    fake_sensor_commands="false"
    no_prefix="false"
    arm_prefix=""
    body_prefix=""
    arm_connected_to="base"
    body_connected_to="world"
    bimanual="true"
    right_arm_base_xyz="0.0 -0.031 0.698"
    left_arm_base_xyz="0.0 0.031 0.698"
    right_arm_base_rpy="1.5708 0 0"
    left_arm_base_rpy="-1.5708 0 0"
    can_fd="true"
  />

  <!-- LEFT: Tesollo left hand on openarm_left_link7 -->
  <xacro:tesollo_left_with_frames
    prefix="left_"
    tesollo_xacro="$(arg left_tesollo_xacro)"
    palm_com_xyz="$(arg left_palm_ee_xyz)"
  />

  <joint name="mount_left_link7_to_tesollo" type="fixed">
    <parent link="openarm_left_link7"/>
    <child  link="left_base_link"/>
    <origin xyz="$(arg left_mount_xyz)" rpy="$(arg left_mount_rpy)"/>
  </joint>

  <!-- RIGHT: Tesollo right hand on openarm_right_link7 -->
  <xacro:tesollo_right_with_frames
    prefix="right_"
    tesollo_xacro="$(arg right_tesollo_xacro)"
    palm_com_xyz="$(arg right_palm_ee_xyz)"
  />

  <joint name="mount_right_link7_to_tesollo" type="fixed">
    <parent link="openarm_right_link7"/>
    <child  link="right_base_link"/>
    <origin xyz="$(arg right_mount_xyz)" rpy="$(arg right_mount_rpy)"/>
  </joint>

</robot>
